name: Swift Tests

on:
  pull_request:
  push:
    branches: ["main", "master"]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Xcode Version
        run: xcodebuild -version
      - name: Run Tests
        run: swift test
